/* All pages */
body{
  background-color: #000000;
  /* width: 100%;
  height: 100%; */
  margin: 0px;
  padding: 0px;
}
.button{
  color: #fff;
  border: solid .1em rgb(133, 37, 132);
}
.navbar{
  background-color: black;
}
.footer{
  background-color: black;
}
.active:hover{
  border-bottom: .17em solid rgb(133, 37, 132);;
}
a{
    color: rgb(133, 37, 132);;
    text-decoration: none;
}
.search{
    margin-left: 600px;
    color: rgb(133, 37, 132);
    background-color: #000;
    border: solid .1em rgb(133, 37, 132);
    width: 16em;
}

h1{
    color: rgb(133, 37, 132);;
    font-weight: 800;
}
.section-button{
margin-left: 54em;
}
.button{
 margin-left: .4em;
}
.alink{
  text-decoration: none;
}
a{
  text-decoration: none;
}
small,a:hover{
  text-decoration: none;
  color: rgb(133, 37, 132);
  cursor: pointer;
}
.icone{
  border-radius: .1em;
  border: solid .1em rgb(133, 37, 132);
}

/* 6.contact page */
.contact{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

#contact-form{
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 1em;
  border: solid .1em rgb(133, 37, 132);
}
#contact-h3{
  color: rgb(133, 37, 132);
  font-weight: 700;
  margin-bottom: 20px;
}
#contact-form input,textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: black;
  font-size: 16px;
  border-radius: .8em;
color: rgb(133, 37, 132);
border:  solid .1em rgb(133, 37, 132);
}
#contact-form button{
 padding: .5em;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100px;
  margin: 20px auto 0;
  border-radius: .8em;
  color: rgb(133, 37, 132);
  border: solid .1em rgb(133, 37, 132);
  background-color: black;
}
/* 5.About page */
.about{
  /* background-color: rgba(80, 79, 79, 0.974); */
  width: 96%;
height: 69vh;
display: flex;
justify-content: center;
flex-direction: column;
margin:  0% 30%  3% 2%;
padding: 10px;
color: rgb(133, 37, 132);;
}
.about-section i{
  color: rgb(133, 37, 132);
  font-size: larger;
}
.about h5{
text-align: justify;
font-size: 3vh;
}
.about p {
text-align: justify;
font-size: 2vh;
}
/* 1.Home page */

.home-div-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5rem;
}
 .home-section{
 /* margin: 10em 2em 5em 8em; */
border: solid .1em rgb(133, 37, 132);
width: 22em;
height: 40em;
border-radius: 1em;
display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
color: rgb(133, 37, 132);
padding: 40px;
}
.button-home{
  color: rgb(133, 37, 132);
  border: rgb(133, 37, 132) solid .1em;
  border-radius: .3em;
  /* padding: .5em; */
  /* text-align: justify; */
}
.home-section img{
  width: 20em;
  height: 30em;
 /* margin-left: 8px; */
 border-radius: .8em;
 /* padding: .1em; */
 display: flex;
 /* text-align: justify; */
 justify-content: center;

}
.home-section h3{
display: flex;
justify-content: center;
font-weight: 700;
text-align: justify;
}
.home-section div a{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  text-align: justify;
} 
.home-main-img{
  width: 100%;
}

/*4.series page  */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#series-h2{
  color:rgb(133, 37, 132);
  margin-bottom:  2em ;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.card {
    margin: 12px;
    background-color: black;
  border-radius: .5em;
  height: 22rem;
  border: solid rgb(133, 37, 132);

}

.card-img{
  padding: .1em;
  border-radius: .5em;
  height: 17rem;
}
.card-h4{
  color: rgb(133, 37, 132);
  font-weight: 500;
}

.button-movies{
  width: 5.5em;
  margin-left: .7em;
  border: solid .1em rgb(133, 37, 132);
  color: #fff;
  display: inline-block;

}
/* signup & login page4 */
.form a{
  padding: .5em;
  height: 2.7em;
}
/* 2.sign up form */
.sign-up-main{
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sign-up-container{
  border:  solid .1em rgb(133, 37, 132);
  border-radius: .5em;
  /* overflow: hidden; */
  width: 550px;
  max-width: 100%;
  flex-direction: column;
}
.sign-up-h2{
  color: rgb(133, 37, 132);
  padding: 1em;
  font-weight: 700;
  border-bottom: rgb(133, 37, 132) solid .05em;
  /* border-radius: .5em; */
 
}
.sign-up-form{
  padding: 1em;
}
.form-control{
  /* border:  solid .1em rgb(133, 37, 132); */
  color: rgb(133, 37, 132);
  background-color: #000;
  border: none ;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  /* overflow: hidden; */

}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  border: .1em solid black;
  border-radius: .2em;
  background-color: #000;
  color: rgb(133, 37, 132);
  width: 100%;
  font-size: 1em;
  display: block;
  padding: 12px;
  height: 2.5em;
}
.form-control input:focus{
  outline: 0;
  border-color: #000;
}
.form-control.success input{
  border-color: rgb(49, 184, 124);
}
.form-control.error input{
  border-color: rgb(143, 16, 16);
}
.form-control i {
/* position: absolute;
right: 550px; */
/* top:4px; */
visibility: hidden;
}
.form-control.error small{
  visibility: visible;
}
.form-control small{
  color:rgb(143, 16, 16);
  /* position: absolute; */
  /* left:0; */
  visibility: hidden;
}
.form-control.success i.fa-check-circle{
color: rgb(49, 184, 124);
visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
  color:rgb(143, 16, 16);
  visibility: visible;
}
.sign-up-btn{
  color: rgb(133, 37, 132);
  border:  solid .1em rgb(133, 37, 132);
  /* outline: none; */
  width: 60%;
  margin-top: 1em;
  background-color: black;
  border-radius: .4em;
  /* display: block; */
  padding: .3em;
}
.input-submit{
  display: flex;
  justify-content: center;
}
/* 3.log in page */
.log-in-main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  min-height: 79vh;
}
.log-in-container{
border:  solid .1em rgb(133, 37, 132);
  border-radius: .5em;
  /* overflow: hidden; */
  width: 500px;
  max-width: 100%;
  flex-direction: column;
  display: flex;
}
.label{
  padding: 1em 1em;
  font-weight: 700;
  color: rgb(133, 37, 132);
  border-bottom: solid .05em  rgb(133, 37, 132);
}
.log-in-form{
  padding: 1em 1em;
  color: rgb(133, 37, 132);
  margin: 1em;
}
.log-in-form input{
  background-color: #000;
  border: none;
  color: rgb(133, 37, 132);
  height: 2.5em;
  outline: none;
}
.log-in-form .font2{
  margin-top: 2em;
}
.input-login{
  border: solid .1em  rgb(133, 37, 132);
border-radius: .2em;
display: flex;
justify-content: center;
width:25%;
margin-top: 2em;
margin-left: 70%;
outline: none;
}
.log-in-form #email-error{
  margin-top: 5px;
  width:345px;
  color:rgb(143, 16, 16);
  display: none;

}
.log-in-form #pass-error{
  margin-top: 5px;
  width:345px;
  color:rgb(143, 16, 16);
  display: none;
}


  